node_modules
package-lock.json
logs
dist
lib
yarn.lock

frontend-app/node_modules
frontend-app/dist
frontend-app/build
frontend-app/yarn.lock
frontend-app/package-lock.json


crit.log
debug.log
emerg.log
error.log
notice.log
info.log
warning.log