node_modules
package-lock.json
logs
dist
yarn.lock
.idea
.log
crit.log
debug.log
emerg.log
error.log
notice.log
info.log
warning.log
*.log
.env
/backups
.DS_STORE
lib

.scannerwork
graphqlSchema.graphql
